
.Form {
  float: left;
  text-align: left;
  padding: 15px;
  width: 60%;
  height: 100%;
  color: rgb(75, 67, 67);
  font-family: 'Open Sans', sans-serif;
}
 
.Danger:hover {
  background-color: rgb(238, 84, 84);
}

.Success:hover {
  background-color: rgb(92, 243, 150);
}

.FormInstructions {
  font-style: italic;
  font-weight: 600;
}
