.ResourcesList {
  color: black;
  width: 100%;
}

.Form {
  float: left;
  text-align: left;
  padding: 15px;
  width: 60%;
  height: 100%;
  color: rgb(75, 67, 67);
  font-family: 'Open Sans', sans-serif;
}
 
.Danger:hover {
  background-color: rgb(238, 84, 84);
}

.Edit:hover {
  background-color: rgb(250, 233, 77);
}

.Success:hover {
  background-color: rgb(92, 243, 150);
}

.FormInstructions {
  font-style: italic;
  font-weight: 600;
}

.Disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}
 
th {
    width: 3%;
}

td {
    width: 10%;
}